/* ======================================================
   OEFENEN MET CSS SELECTORS
========================================================= */
body {
    background-color: white;
}
.article-title {
    color: grey;
}
.copyright {
    font-size: 10px;
}
h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
}
#header-image {
    width: 100%;
}
nav a {
    color: #CD5C5C; /*IndianRed*/
}
main a:hover {
    color: darkgreen;
}
.places-to-visit li {
    color: forestgreen;
}
.subscribe button[type="reset"] {
    background-color: #CD5C5C; /*IndianRed*/
}
input[type="text"].email-field:focus {
    background-color: forestgreen;
    color: white;
}
/* Firefox > 19 */
input[type="text"].email-field:focus::-webkit-input-placeholder {
    color: white;
}
/* Internet Explorer 10 */
input[type="text"].email-field:focus::-moz-placeholder {
    color: white;
}
button:hover {
    cursor: pointer;
}

